<div class="container d-flex align-items-center">
<h1 class="p-3">Cocktails !</h1>
<%= link_to "Feeling thirsty? Add your cocktail!", new_cocktail_path, class: "btn btn-danger", style: "height: 40px;"  %>
</div>

<div class="container">
  <!-- Content here -->
  <div class="row">
      <% @cocktails.each do |cocktail|  %>
        <div class="col-4 p-3">
          <%= link_to cocktail_path(cocktail) do  %>
          <% if cocktail.photo? %>
           <div class="card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2 )), url('<%= cl_image_path cocktail.photo, crop: :fill %>')">
            <%= cocktail.name %>
          </div>
          <% else %>
            <div class="card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2 )), url(https://images.unsplash.com/photo-1527761939622-9119094630cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60)">
              <%= cocktail.name %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
